body,
html {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

#main-header {
  position: relative;
  background-image: url("../img/test/logo.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-bottom: 25px;

  ._in-searcher {
    width: 100%;

    ._in-text-int {
      box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.23);
      border-radius: 55px;
      font-size: 20px;
      height: auto;
      padding-top: 15px;
      line-height: 20px;
      padding-bottom: 15px;
      padding-left: 25px;
      border: none;
    }

    ._button-search {
      position: absolute;
      background: #fff;
      border: none;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 80%;
      padding: 10px;
      border-radius: 50%;
      font-size: 23px;
      height: 50px;
      width: 50px;
      outline: 0;
      cursor: pointer;
      color: #8e8e8e;
    }
  }

  .__img-logo {
    height: 82px;
    max-height: initial;
    width: auto;
  }

  .__only-item {
    width: 50%;

    .navbar-item {
      width: 100%;
    }
  }

  ._in-logo-right {
    width: 150px;
    margin-top: 30px;
    margin-right: 15px;

    img {
      width: 100%;
    }
  }
}

#_main-content {
  .__just-content {
    ._items-films {
      ._content-item {
        height: 200px;
        box-shadow: 2px 2px 20px rgba(0,0,0,.25);
        border-radius: 15px;
        background-image: url("../img/test/loading.gif");
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
